.main-article-title{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.main-article-category,.author-name:hover,.sub-article-author:hover{
    color: rgba(0,0,0,0.4);
}

.main-article-category:hover,.main-article-title:hover,.author-name:hover,.sub-article-title:hover,.sub-article-category:hover{
    color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

footer{
    color: #ffffff;
    background-color: #343a40;
}

.recent-articles{
    font-size: 1.7em;
    font-weight: bold;
}

.sub-article-title{
    font-size: 1.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.sub-article-category,.sub-article-date{
    color: rgb(0, 0, 0, 0.4);
    font-size: 0.8em;
}

.sub-article-author{
    text-decoration: underline;
    font-size: 0.8em;
}

.demo-link{
    color: blue;
}

.sponsors{
    font-weight: bold;
    color: rgb(0, 0, 0, 0.4);
}